body {
    background-image: linear-gradient(rgb(29, 48, 28),rgb(21, 227, 7));
    font-family: Copperplate, Consolas, monospace;
}

img {
    height:70px;
}

form {
    border: 1px solid black;
    border-radius: 15px;
    padding:8px;
    background-color:#343a40;
    color: rgb(27, 146, 18);
}

.jumbotron {
    background: none;
    color: rgb(9, 184, 0);
    text-shadow: 3px 3px black;
    text-align:center;
    background-image: url("../images/ufo.png");
    background-position: center;
}

.table .thead-dark th {
    color: rgb(27, 146, 18);
}