body {
    background-image: linear-gradient(rgb(30, 51, 29),rgb(21, 227, 7));
    font-family: Copperplate, Consolas, monospace;
}

img {
    height:50px;
}

form {
    border: 1px solid black;
    border-radius: 15px;
    padding:8px;
    background-color:#343a40;
    color: rgb(27, 146, 18);
}

.table .thead-dark th {
    color: rgb(27, 146, 18);
}